<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Yelpcamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
              <div class="nav-item">
                  <a class="nav-link" aria-current="page" href="/campgrounds">Home</a>
              </div>
              <div class="nav-item">
                  <a class="nav-link" href="/campgrounds/new">New</a>
              </div>
              <div class="nav-item">
                  <a class="nav-link" href="/campgrounds">All campgrounds</a>
              </div>
          </div>
          <ul class="navbar-nav ms-auto">
            <% if (!currentUser) {  %>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register">Registration</a>
              </li> <% } else { %>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li> <% } %>
          </ul>
      </div>
  </div>
</nav>
